# Virtual Environment
1_venv/
venv/
env/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data files
# *.json
# *.xlsx
# *.xls

# Logs
*.log
logs/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration
instance/
.webassets-cache

# Activation script
activate_env.sh

# test files
test_api_keys_fixed.py
test_api_keys.py

